@{
    ViewData["Title"] = "Home Page";
}
@model List<Product>

<style>
    .image-box {
        max-height: 50px;
        width: auto;
    }
</style>

<div class="text-center">
    <h1 class="display-4">MediOnline</h1>
    <form asp-controller="Product" asp-action="SearchProduct">
        <input type="search" name="searchString" placeholder="Search a product" class="m-lg-3">
        <button class="btn btn-light" type="submit">
            <i class="bi bi-search"
               style="cursor: pointer;">
            </i>
        </button>
        
    </form>
    
</div>

<div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var obj in Model)
        {
            <div class="col">
                <div class="card">

                    <div class="card-img text-center position-relative">
                        <img src="@obj.ImageUrl" alt="@obj.ProductName" height="100" />
                        @if (obj.SpecialTag != null)
                        {
                            <div class="position-absolute top-0 end-0">
                                <i class="bi bi-star btn btn-outline-warning">
                                    &nbsp; @obj.SpecialTag
                                </i>
                            </div>
                        }
                    </div>

                <div class="card-body">
                        <div class="text-center">
                            <p class="card-title m-0 text-success fs-3">@obj.ProductName</p>
                            <p class="badge bg-secondary" style="font-size: 12px;">
                                @obj.ProductCategory
                            </p>
                        </div>      
                        <div class="row text-center">
                            <h4>RM @obj.Price</h4>
                        </div>
                    
                    
                </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <div class="text-center">
                            <a asp-controller="Product" asp-action="ProductDetails" asp-route-productId="@obj.ProductID" class="btn btn-outline-success">View &gt;&gt;&gt;</a>
                            
                        </div>
                        <div>
                            <i class="bi bi-cart-plus btn btn-outline-danger"></i>
                        </div>
                    </div>

            </div>
            </div>
        }
    </div>
</div>




